body {
  margin: 0;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 16px;
  color: #363945;
  font-family: 'Lato', 'Roboto', sans-serif;
}
.navbar {
  font-family:  'Mukta Mahee', 'Lato', 'Roboto', sans-serif;
  text-align: center;
  z-index: 1;
  border-bottom: 1px solid #efefef;
  background: #fff;
  vertical-align: top;
}

.navbar * {
  box-sizing: border-box;
}

.navbar__content {
  display: flex;
  position: relative;
  text-align: left;
  border-left: none;
  border-right: none;
  justify-content: center;
}


.navbar__content-l1 {
  flex-grow: 0;
  display: inline;
  vertical-align: top;
  border-left: 1px solid #efefef;
}
.navbar__content-l1:first-child {
  border-left: 0;
}
.navbar__logo {
  width: 28%;
  max-width: 287px;
  flex-shrink: 0;
  text-align: center;
  margin: 0;
  vertical-align: top;
}
.navbar__logo a {
  background-color: #fff;
  height: 116px;
  line-height: 116px;
  width: 60%;
  margin: 0 auto;
  max-width: 180px;
  border-bottom: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #363948;
  font-size: 44px;
  font-weight: 500;
  vertical-align: top;

}
.navbar__menu {
  height: 116px;
  flex-grow: 1;
  display: flex;
  position: relative;
  padding: 0 2.2%;
  vertical-align: top;
}
.navbar__menu-item a {
  text-decoration: none;
  color: #6c798b;
  display: block;
  font-size: 16px;
  font-weight: 600;
  height: 59px;
  line-height: 58px;
  padding: 0 15px;
  position: relative;
  z-index: 1;
  text-align: left;
  vertical-align: top;
}

.navbar__menu-item.active a {
  color: #363948;
}

/* .navbar__menu-item__title:before {
  position: absolute;
  background: #f9f9f9;
  border: 1px solid #efefef;
  border-radius: 5px;
  bottom: -14px;
  content: "";
  display: none;
  height: 20px;
  width: 20px;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, 0) rotateX(20deg) rotateZ(45deg);
} */
.navbar__menu-item__title:before {
  position: absolute;
  border: 15px solid transparent;
  border-bottom: 15px solid #f9f9f9;
  bottom: 0;
  content: "";
  display: none;
  height: 0;
  width: 0;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, 0);
  z-index: 2;
}
.navbar__menu-item__title:after {
  position: absolute;
  border: 17px solid transparent;
  border-bottom: 17px solid #efefef;
  bottom: 0;
  content: "";
  display: none;
  height: 0;
  width: 0;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, 0);
  z-index: 1;
}
.navbar__menu-item.active .navbar__menu-item__title:before {
  display: block;
}
.navbar__menu-item.active .navbar__menu-item__title:after {
  display: block;
}

.navbar__menu-item ul {
  left: -99999px;
  position: absolute;
  list-style-type: none;
  border-top: 1px solid #efefef;
  background-color: #f9f9f9;
  vertical-align: top;
  top: 58px;
  width: 100%;
  padding: 0 2.55%;
  margin: 0;
  box-sizing: border-box;
  display: inline-block;
}
.navbar__menu-item.active ul {
  left: 0;
}

.navbar__menu-item__submenu .sub-item {
  display: inline-block;
}
.navbar__menu-item__submenu .sub-item__label {
  color: #6c798b;
  font-size: 16px;
  height: 57px;
  line-height: 57px;
  text-decoration: none;
  font-weight: 500;
  padding: 0 15px;
}


.navbar__auth-btns-hamb {
  width: 40%;
  height: 72px;
  line-height: 72px;
  text-align: center;
  display: none;
  box-sizing: border-box;
  vertical-align: top;
}

.navbar__habm-icon {
  display: inline-block;
  height: 12px;
  margin-top: 29px;
  position: relative;
  width: 18px;
  cursor: pointer;
  vertical-align: top;
}

.navbar__habm-icon span {
  background: #6c798b;
  border-radius: 3px;
  left: 0;
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  vertical-align: top;
}

.navbar__habm-icon span:nth-child(1) {
  top: 0;
}
.navbar__habm-icon span:nth-child(2) {
  top: 6px;
}
.navbar__habm-icon span:nth-child(3) {
  top: 12px;
}

.navbar__auth-btns-login, .navbar__auth-btns-signup {
  display: inline-block;
  width: 50%;
  border-left: 1px solid #efefef;
  color: #6c798b;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-left: 3px;
  height: 100%;
  line-height: 112px;
  text-decoration: none;
  box-sizing: border-box;
  vertical-align: top;
} 
.navbar__auth-btns-signup {
  border-left: 0;
  color: #3ea9f5;
}


.content {
  font-family: 'Lato', 'Roboto', sans-serif;
  position: relative;
  top: 73px;
}

.content__video {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap; 
  position: relative;
}

.content__video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  overflow: hidden;
  background-color: #CEA0AF;
}

.content__video-header {
  flex: 1 1 500px;
  max-width: 500px;
  padding: 3em 0.6em;
}

.content__video h1 {
  font-size: 2.6em;
  font-weight: 400;
  color: #363945;
  margin-bottom: 40px;
}

.content__video h1 span {
  color: #fff;
}


.content__video-videobox {
  flex: 1 1 500px;
  max-width: 650px;
  margin-top: 30px;
}

.content__video-videobox-wrapper {
  width: 100%;
  height: 100%;
  display: block;
}

.content__video-videobox-wrapper p {
  margin-bottom: -3px;
  margin-top: 0;
}

.content__video-button .button__watch-video {
  font-size: 20px;
  display: inline-block;
  padding: 22px 50px;
  background-color: #fff;
  color: #363945;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  min-width: 180px;
  position: relative;
  bottom: 0;
  transition: all 0.05s ease-in-out;
  box-sizing: border-box;
}

.content__video-button .button__watch-video:hover {
  bottom: 5px;
}

.content__video-button .button__watch-video:after {
  background-color: #EFEFEF;
  content: "";
  width:100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  border-radius: 5px;
  left: 0;
  z-index: -1;
  transition: all 0.05s ease-in-out;
}


.content__video-button .button__watch-video:hover:after {
  background-color: #D6DADE;
  bottom: -5px;
}

.content__features {
  width: 100%;
  background: linear-gradient(to right, #FED24A 50%, #3EA9F5 50%);
  color: #363945;
}

.content__features-wrapper {
  margin: 0 auto;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content__features-item {
  flex: 1 1 300px;
  padding: 45px 58px 50px;
  display: flex;
  flex-flow: row wrap;
  font-family: 'Roboto', sans-serif;
}



.feature-icon {
  width: 50px;
  height: 50px;
  align-items: center;
  background-color: rgb(232, 179, 203);
}

.content__features-item h2 {
  font-size: 23px;
  font-weight: 700;
  color: #fff;
  width: 100%;
  margin: 15px 0 10px;
  line-height: 30px;
}

.content__features-item__content {
  font-size: 20px;
  margin-bottom: 25px;
  line-height: 30px;
  width: 100%;
}

.content__features-item__content a {
  color: #363945;
  text-decoration: underline;
}
.content__features-item__content a:hover {
  text-decoration: none;
}
.feature-button {
  font-size: 17px;
  display: block;
  padding: 17px 16px;
  background-color: transparent;
  color: #363945;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #fff;
  font-weight: 600;
  cursor: pointer;
  min-width: 180px;
  position: relative;
  bottom: 0;
  transition: all 0.05s ease-in-out;
  box-sizing: border-box;
}

.feature-button:hover {
  background-color: #fff;
} 

.bg-yellow {
  background-color: #FED24A;
}
.bg-green {
  background-color: #51C29F;
}
.bg-blue {
  background-color: #3EA9F5;
}

.content__clients {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1280px;
  margin: 60px auto;
  background-color: #fff;
}

.content__clients-section {
  flex: 1 0 400px;
  display: flex;
  flex-flow: row wrap;
}

.content__clients-item {
  flex: 1 1 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.content__clients-item img {
  height: 110px;
  width: auto;
}

.content__clients-item:last-child img {
  height: 55px;
  width: auto;
}

.content__clients-text p {
  padding: 0 30px;
  margin: 17px 0;
  font-size: 17px;
  max-width: 160px;
  color: #9CA8B7;
  font-weight: 600;
}

.content__posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1280px;
  padding: 0 30px;
  margin: 60px auto;
}

.content__posts-card {
  flex: 1 1 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 20px;
}

.content__posts-card__img {
  padding: 0 15px;
  flex: 1 1 250px;
}

.content__posts-card__img a {
  display: block;
}

.content__posts-card__img a img {
  max-width: 100%;
}

.content__posts-card__text {
  padding: 0 15px;
  flex: 2 1 350px;
}

.content__posts-card__title {
  margin: 25px;
  font-size: 1.17em;
  line-height: 26px;
  font-weight: 700;
}
.content__posts-card__descr {
  font-size: 16px;
  display: block;
  line-height: 28px;
  margin-bottom: 30px;
}
.content__posts-card__link {
  color: #217AD5;
}

.content__updates {
  color: #777777;
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  background-color: #e8e7e6;
  padding: 25px;
  display: block;
}

.content__updates a {
  color: #777777;
}

.footer {
  background-color: #2A2D35;
  text-align: center;
  position: relative;
}

.footer__container {
  margin: 0 auto;
  padding: 50px 60px 25px;
}

.footer .sections {
  margin: 0 2em;
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.footer .sections li {
  flex: 1;
  text-align: left;
  padding-right: 16px;
}

.footer .sections ul {
  list-style-type: none;
  color: #fff;
  padding-left: 0;
}

.footer .sections li h3 {
  color: #fff;
  font-size: 17px;
  margin-bottom: 8px;
}
.footer .sections li ul li {
  line-height: 22px;
  margin: 6px 0;
}

.footer .sections li a {
  text-decoration: none;
  color: #b2b9c1;
  font-size: 15px;
}

.footer .sections .info {
  color: #fff;
  flex: 3;
}

.footer .sections .info .logo {
  width: 40px;
}
.footer .sections .title {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 500;
  padding-right: 30%;
}

.footer .sections .socials {
  font-size: 17px;
  color: #3ea9f5;
  line-height: 26px;
  font-weight: 400;
}

.footer .sections .socials span {
  color: #fff;
}

.footer .sections .social-link {
  color: #3ea9f5;
  font-size: 16px;
}

.copyright {
  margin-top: 3em;
  text-align: center;
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  border-top: 1px solid #efefef;
  padding: 3em 0;
  color: #b2b9c1;
}

@media only screen and (min-width: 1025px) {
  .navbar__menu {
    padding: 0 21px;
  }

  .navbar__menu-item ul {
    padding: 0 21px;
  }


  .navbar__auth-btns {
    width: 24.5%;
    display: flex;
    height: 116px;
  }

  .content {
    top: 0;
  }
  
}

@media only screen and (max-width: 1024px) {
  .navbar__logo {
    max-width: 287px;
  }

  .navbar__logo a {
    width: 75%px;
    margin: 0 auto;
    max-width: 175px;
  }
  
  .navbar__menu {
    display: flex;
  }

  .navbar__menu-item a {
    padding: 0 10px;
    font-size: 15px;
  }

  .navbar__menu-item__submenu .sub-item__label {
    font-size: 15px;
    padding: 0 12px;
  }
  
  .navbar__auth-btns {
    border-left: none;
  }

  .navbar__auth-btns-signup {
    right: 14%;
    top: 0;
    padding-left: 0.5%;
    position: absolute;
    height: 58px;
    line-height: 58px;
    width: 14%;
    font-size: 15px;
    border-left: 1px solid #efefef;
  }

  .navbar__auth-btns-login {
    right: 0;
    top: 0;
    padding-left: 0.5%;
    position: absolute;
    height: 58px;
    line-height: 58px;
    font-size: 15px;
    width: 14%;
  }

  .content {
    top: 0;
  }

  .content__video-header {
    padding: 3em 2em 0;
  }
}


@media only screen and (max-width: 767px) {
  .navbar {
    position: fixed;
    height: 73px;
    left: 0;
    right: 0;
    top: 0;
  }


  .navbar__content-l1 {
    display: inline-block; 

  }

  .navbar__content {
    display: flex;
    justify-content: space-between;
  }

  .navbar__logo {
    width: 50%;
    min-width: 150px;
  }

  .navbar__logo a {
    height: 72px;
    line-height: 70px;
    max-width: 125px;
    background-size: 90%;
  }

  .navbar__menu {
    position: absolute;
    left: -99999px;
  }

  .navbar__auth-btns {
    width: 50%;
    border-left: 1px solid #efefef;
  }

  .navbar__auth-btns-hamb {
    top: 0;
    display: inline-block;
  }

  .navbar__auth-btns-login {
    right: 0;
    top: 0; 
    position: static;
    height: 72px;
    line-height: 72px;
    width: calc(60% - 4px);
    font-size: 14px;
  }

  .navbar__auth-btns-signup {
    display: none;
  }

  .content {
    top: 73px;
  }
}

@media only screen and (max-width: 650px) {
  .footer__container .sections {
    display: block;
  }

  .footer .sections .info * {
    line-height: 32px;
  }

  .footer .sections .title {
    padding-right: 0; 
    line-height: 1.3;
    font-size: 28px;
    margin : 1em 0;
  }

  .footer__container .sections li {
    text-align: center;
    padding-right: 0;
    margin: 0 auto 40px;
  }

  .footer__container .sections li h3 {
    font-size: 18px;
    margin-bottom: 14px;
  }

  .footer .sections .socials {
    padding: 1em 0;
  }
  .footer .sections .socials * {
    line-height: 32px;
  }
  .footer .sections .socials span {
    display: block;
    font-size: 22px;
  }
}
